* {
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    object-fit: cover;
}

#white-bg {
    background-color: #fff;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 30vh;
    z-index: -3;
}

#main-top-container {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-sub-container {
    width: 90%;
}

#first-top-sub-container {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.first-top-sub-content {
    height: 90%;
}

#profile-pic-container {
    width : 40%;
    display: flex;
    justify-content: center;
    overflow: visible;
}

#profile-pic {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3.75px solid #fff;
    box-shadow: 1.25px 2.5px #808080;
}

#socmed-info-container {
    background-color: #ffffff80;
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1.25px 2.5px #808080;
}

.socmed-info-content-container {
    width: 90%;
}

#socmed-info-content-container-top {
    height: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}

#username {
    margin: 0;
    width: 100%;
    font-size: 0.75em;
}

#socmed-info-content-container-bottom {
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.count-containers {
    width: 30%;
    height: 90%;
    margin: 0;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    font-size: 0.5em;
}

#second-top-sub-container {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.second-top-sub-content {
    height: 90%;
}

#top-second-left-sub-container {
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #808080;
}

.top-second-left-sub-content {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0;
}

#top-second-left-first-container {
    height: 40%;
}

#nickname {
    margin: 0;
    font-size: 1.25em;
}

#top-second-left-second-container {
    height: 25%;
    display: flex;
    align-items: flex-start;
    padding: 0;
}

#occupation, #bio {
    font-size: 0.25em;
}

#bio {
    text-align: center;
    color: #404040;
}

#top-second-left-third-container {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-top: 1px solid #808080;
}

#top-second-right-sub-container {
    width : 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-second-left-sub-content {
    width: 90%;
}

.top-second-right-content {
    width: 90%;
}

#top-second-right-top-container {
    height: 25%;
    display: flex;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 7.5px;
}

#music-txt {
    font-size: 0.375em;
    margin-left: 3.75px;
}

#music-txt:hover {
    cursor: pointer;
}

#top-second-right-bottom-container {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #808080;
}

.top-second-right-bottom-content {
    width: 90%;
    height: 30%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#top-second-right-bottom-first-container {
    border-bottom: 0.125px solid #808080;
}

#top-second-right-bottom-third-container {
    border-top: 0.125px solid #808080;
}

#mbti, #astrology, #pronouns {
    font-size: 0.25em;
}

#third-top-sub-container {
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-third-content {
    height: 80%;
    background-color: #fff;
    border: 0;
    border-radius: 7.5px;
    box-shadow: 1.25px 1.5px #808080;
    font-family: serif;
    transition: background-color 0.3s, transform 0.125s;
}

.top-third-content:hover {
    cursor: pointer; 
    background-color: #ffffff80;
}

#follow-btn {
    width: 40%;
}

#commission-form-btn {
    width: 50%;
}

#main-bottom-container {
    width: 100%;
    height: 75vh;
    background-color: #808080;
}
